{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <div class="card mb-4 shadow border-0">
                        <!-- Card body -->
                        <div class="card-body">

                            <div class="text-center">
                                <!-- Puzzle name -->
                                <div>
                                    <span class="fw-bold fs-3">{{ puzzle.name }}</span>
                                </div>

                                <!-- Puzzle category -->
                                <p class="small mb-0">{{ puzzle.category }}</p>

                                <!-- Puzzle average rating -->
                                {% if puzzle.average_rating %}
                                {% with avg=puzzle.average_rating %}
                                    <span class="text-warning fs-3">
                                        {% if avg == 1 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 1.5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 2 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 2.5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 3 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 3.5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 4 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 4.5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        {% elif avg <= 5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        {% endif %}
                                    </span>
                                    <small class="text-muted fs-3">({{ puzzle.review_count }})</small>
                                {% endwith %}
                                {% else %}
                                <small class="text-muted">No reviews yet</small>
                                {% endif %}
                            </div>

                            <hr>

                            <!-- Puzzle image -->
                            {% if puzzle.image %}
                                <div class="d-flex justify-content-center align-items-center mb-3 image-box">
                                    <img src="{{ puzzle.image.url }}" class="shadow rounded" alt="Puzzle image">
                                </div>
                            {% endif %}

                            <!-- Description -->
                            <p class="card-text mb-3">{{ puzzle.description }}</p>

                        </div>
                    </div>

                <hr>

                <!-- List of reviews -->
                <h3 class="mb-4">Reviews</h3>
                {% for review in reviews %}
                    <div class="card mb-4 shadow border-0
                        {% if not review.is_approved and review.author == user %}
                        pending-approval-card{% elif not review.is_approved %}d-none{% endif %}">
                        <div class="card-body">

                            <!-- Author and buttons -->
                            <div class="card-title d-flex justify-content-between mb-0">
                                <div>
                                    <span class="fw-bold fs-4">{{ review.author }}</span>
                                </div>
                                <div>
                                    <!-- Edit and delete buttons -->
                                    {% if review.author == request.user %}
                                        <div>
                                            <a href="{% url 'edit_review' review.pk %}" class="edit-button btn-sm p-0 me-3" aria-label="Edit"><i class="bi bi-pencil-square fs-5"></i></a>
                                            <a href="#" class="delete-button btn-sm p-0" data-bs-toggle="modal" data-bs-target="#deleteModal{{ review.pk }}" aria-label="Delete"><i class="bi bi-trash fs-5"></i></a>
                                        </div>

                                        <!-- Modal when deleting review -->
                                        <div class="modal fade" id="deleteModal{{ review.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ review.pk }}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel{{ review.pk }}">Confirm Deletion</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete your review? This can't be undone.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                                                        <form method="post" action="{% url 'delete_review' review.pk %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                </div>
                            </div>

                            <!-- Rating -->
                            <div class="mb-1">
                                <span class="text-warning fs-4">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= review.rating %}
                                    <i class="bi bi-star-fill"></i>
                                    {% else %}
                                    <i class="bi bi-star"></i>
                                    {% endif %}
                                {% endfor %}
                                </span>
                            </div>

                            <!-- Date posted -->
                            <p class="small mb-0">{{ review.created_at|date:"l j F Y, H:i" }}</p>

                            <!-- Edited info -->
                            {% if review.updated_at > review.created_at %}
                                <p class="small mb-0">*Edited {{ review.updated_at|date:"l j F Y, H:i" }}</p>
                            {% endif %}                            

                            <!-- Awaiting approval indicator -->
                            <small class=
                                "{%if not review.is_approved and review.author == user %}
                                pending-approval-text{% else %}d-none{% endif %}">
                                Pending approval
                            </small>

                            <hr>

                            <!-- Body -->
                            <p class="card-text mb-3">{{ review.body|linebreaks }}</p>
                        
                        </div>
                    </div>
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}

                <!-- Add review section -->
                {% if user.is_authenticated %}
                    <h3>Add a review:</h3>
                    <form method="post">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn mb-3">Submit</button>
                    </form>
                {% else %}
                    <h3>Log in to leave a review!</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}