{% extends "base.html" %}

{% block content %}
    <!-- Code for the puzzle list -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="text-center">
                    <h2 class="mb-3 fw-bold">Puzzle Reviews</h2>
                </div>
                {% for puzzle in puzzles %}
                    <div class="card mb-4 shadow border-0">
                        <!-- Card body -->
                        <div class="card-body">
                            
                            <div class="text-center">
                                <!-- Puzzle name -->
                                <div>
                                    <span class="fw-bold fs-3">{{ puzzle.name }}</span>
                                </div>

                                <!-- Puzzle category -->
                                <p class="small mb-0">{{ puzzle.category }}</p>

                                <!-- Puzzle average rating -->
                                {% if puzzle.average_rating %}
                                {% with avg=puzzle.average_rating %}
                                    <span class="text-warning fs-3">
                                        {% if avg == 1 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 1.5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 2 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 2.5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 3 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 3.5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 4 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                        {% elif avg <= 4.5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        {% elif avg <= 5 %}
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        {% endif %}
                                    </span>
                                    <small class="text-muted fs-3">({{ puzzle.review_count }})</small>
                                {% endwith %}
                                {% else %}
                                <small class="text-muted">No reviews yet</small>
                                {% endif %}
                            </div>

                            <hr>

                            <!-- Puzzle image -->
                            {% if puzzle.image %}
                                <div class="d-flex justify-content-center align-items-center image-box">
                                    <img src="{{ puzzle.image.url }}" class="shadow rounded" alt="Puzzle image">
                                </div>
                            {% endif %}

                            <!-- Description -->
                            <p class="card-text mb-3">{{ puzzle.description }}</p>

                            <!-- Full width See Reviews button -->
                            <a href="{% url 'puzzle_detail' puzzle.pk %}" class="btn w-100 shadow rounded">See Reviews</a>
                        </div>
                    </div>
                {% empty %}
                <p>No puzzle reviews yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Code for the pagination buttons at the bottom of the puzzle list -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            <li class="page-item">
                <span class="page-link page-indicator">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>
            
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}