{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <!-- Bootstrap card containing sign-up form -->
        <div class="card shadow border-0 mb-3">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Sign Up</h2>
                <!-- Crispy Forms package used to create sign-up fields -->
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn" aria-label="Submit sign-up form">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}