body {
    background-color: rgb(245, 245, 245);
}

.navbar {
    background: linear-gradient(to right, #cd3535, #ff9999);
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.light-shadow {
  box-shadow: 0 0 10px #e88686;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.site-title {
    height: 40px;
    width: auto;
}
.navbar-brand i {
    font-size: 40px;
}

.nav-icon {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-icon:hover {
  color: #cf4444;
  
}

.nav-icon.active {
  color: #cf4444; /* Bootstrap blue */
  border-bottom: 2px solid #cf4444;
}

footer {
    background: linear-gradient(to right, #cd3535, #ff9999);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.faded {
    color: rgb(172, 175, 175);
}

.btn {
    color: white;
    background-color: #cf4444;
}

.btn:hover {
    color: white;
    background-color: #e88686;
}

.edit-button {
    color: #aeaeae;
    transition: color 0.2s ease;
}

.edit-button:hover {
    color: #cf4444;
}

.delete-button {
    color: #aeaeae;
    transition: color 0.2s ease;
}

.delete-button:hover {
    color: #cf4444;
}

.page-link {
    color: white;
    background-color: #cf4444;
}

.page-link:hover {
    color: white;
    background-color: #e88686;
}

.page-indicator {
    color: white;
    background-color: #cf4444;
    pointer-events: none; /* prevents hover animation */
}

.pending-approval {
    color: #e88686;
    font-weight: bold;
}

/* Ensures all images are in consistently sized square boxes */
.image-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.image-box img {
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Media query to ensure header shrinks on very small screens to avoid overspill */
@media (max-width: 450px) {
  .site-title {
    height: 28px;
  }

  .smaller-font {
    font-size: 0.75rem;
  }
}

/* Media query to ensure no overspill in leaderboards on small screens */
@media (max-width: 450px) {
  table {
    font-size: 0.7rem;
  }
}

/* DELETE THIS BEFORE SUBMISSION!!! */
.red-border {
    border: 2px solid red;
}