body {
    background-color: rgb(245, 245, 245);
}

.navbar {
    background: linear-gradient(to right, #cd3535, #ff9999);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.navbar-brand i {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    font-family: Arial, sans-serif;
}

.nav-icon {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-icon:hover {
  color: #d35656;
  
}

.nav-icon.active {
  color: #d35656; /* Bootstrap blue */
  border-bottom: 2px solid #d35656;
}

footer {
    background: linear-gradient(to right, #cd3535, #ff9999);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.faded {
    color: rgb(172, 175, 175);
}

.post-image {
    max-height: 300px;
    width: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.btn {
    color: white;
    background-color: #d35656;
}

.btn:hover {
    color: white;
    background-color: #e88686;
}

.page-link {
    color: white;
    background-color: #d35656;
}

.page-link:hover {
    color: white;
    background-color: #e88686;
}

.page-indicator {
    color: white;
    background-color: #d35656;
    pointer-events: none; /* prevents hover animation */
}

.pending-approval {
    color: #e88686;
    font-weight: bold;
}

/* Prevents overflow in tables */
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Ensures all columns in tables are the same width */
.equal-width-table {
  table-layout: fixed;
  width: 100%;
}