{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <h2>Edit your post:</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                    {% if post.image %}
                        <div class="mb-3">
                            <label class="form-label">Current Image:</label><br>
                            <img src="{{ post.image.url }}" alt="Current image" class="img-fluid rounded" style="max-height: 300px;">
                        </div>
                    {% endif %}

                    <button type="submit" class="btn mb-3">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}