{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card mb-4 shadow border-0
                    {% if not post.is_approved and post.author == user %}
                    faded{% elif not post.is_approved %}d-none{% endif %}">
                    <!-- Card body -->
                    <div class="card-body">

                        <!-- Author -->
                        <h3 class="card-title mb-0">{{post.author }}</h3>

                        <!-- Date posted -->
                        <p class="small mb-3">{{ post.created_at|date:"l j F Y, H:i" }}</p><hr>

                        <!-- Main body -->
                        <p class="card-text mb-3">{{ post.body|linebreaks }}</p>

                        <!-- Optional image -->
                        {% if post.image %}
                            <div class="d-flex justify-content-center">
                                <img src="{{ post.image.url }}" class="img-fluid mb-3 shadow rounded post-image" alt="Post image">
                            </div>
                        {% endif %}
                        
                        <!-- Edit and delete buttons -->
                        {% if post.author == request.user %}
                            <div class="d-flex flex-column align-items-center mt-3">
                                <a href="{% url 'edit_post' post.pk %}" class="btn btn-sm mb-3">Edit</a>
                                <button type="button" class="btn btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#deleteModal{{ post.pk }}">
                                    Delete
                                </button>
                            </div>

                            <!-- Modal when deleting post -->
                            <div class="modal fade" id="deleteModal{{ post.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ post.pk }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ post.pk }}">Confirm Deletion</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete your post? This can't be undone.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                                            <form method="post" action="{% url 'delete_post' post.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>

                <hr>

                <!-- List of comments -->
                <h3>Comments</h3>
                {% for comment in comments %}
                    <div class="border p-2 mb-2
                        {% if not comment.is_approved and comment.author == user %}
                        faded{% elif not comment.is_approved %}d-none{% endif %}">
                        <p>{{ comment.body }}</p>
                        <small>{{ comment.author }} on {{ comment.created_at|date:"Y-m-d H:i" }}</small>
                        {% if comment.updated_at > comment.created_at %}
                            <br><small>(Edited on {{ comment.updated_at|date:"Y-m-d H:i" }})</small>
                        {% endif %}
                        {% if comment.author == request.user %}
                            <a href="{% url 'edit_comment' comment.pk %}" class="btn btn-sm">Edit</a>
                            <button type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ comment.pk }}">
                                Delete
                            </button>

                            <!-- Modal when deleting comment -->
                            <div class="modal fade" id="deleteModal{{ comment.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ comment.pk }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ comment.pk }}">Confirm Deletion</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this comment?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                                            <form method="post" action="{% url 'delete_comment' comment.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}

                <!-- Add comment section -->
                {% if user.is_authenticated %}
                    <h3>Add a comment:</h3>
                    <form method="post">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn">Submit</button>
                    </form>
                {% else %}
                    <h3>Log in to leave a comment!</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}